   
    div.upload input {
        display: block;
        opacity: 0;
    }

    div.upload, button, select{
        display: inline-block;
        cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
        padding:5px 10px; /*add some padding to the inside of the button*/
        background:#777777; /*the colour of the button*/
        border:0;
        /*give the button curved corners, alter the size as required*/
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        /*give the button a drop shadow*/
        -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
        box-shadow: 0 0 4px rgba(0,0,0, .75);
        /*style the text*/
        color:#f3f3f3;
        font-size:12px;
    }
    /***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
    button:hover, button:focus{
        background-color :#aaaaaa; /*make the background a little darker*/
        /*reduce the drop shadow size to give a pushed button effect*/
        -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }

    select {
        -webkit-appearance: none;
    }
